<div id="nav">
	<hr class="medium-hr">
	<hr class="long-hr">
	<%= link_to 'Books', books_path %>
	<%= link_to 'Recipes', recipes_path %>
	<%= link_to 'Ingredients', ingredients_path %>
	<hr class="long-hr">	
	<hr class="medium-hr">
</div>	
