<p>{{content}}</p>
<p><strong>{{username}}</strong></p>
{{#favourite}}
	<strong>Your favourite</strong>
{{/favourite}}
<button>Toggle Favourite</button>

{{!-- When you have a #something it is saying, "if #something is true", then... --}}



