<h2>List of Songs</h2>
<ul>
	<li><%= link_to '+ Add Song', new_song_path %></li>
</ul>

<ul>
	<% @songs.each do |song| %>
		<li>
			<h3><%= link_to song.name, song %></h3>
			<button>
				<%= link_to 'Edit', edit_song_path(song) %>
			</button>
		</li>	
	<% end %>
</ul>