<div id="ui_top">
	<h2>Playlists</h2>
</div>	

<% if user_signed_in? && current_user.admin? %>
<p><%= link_to '+ Add Playlist', new_playlist_path %></p>
<% end %>

<ul>
	<% @playlists.each do |playlist| %>
		<li>
		<section class="selection">
		<hr>
			<article>		
				<%= link_to playlist.name, playlist %>
				<% if user_signed_in? %>
					<button>
					<%= link_to 'Edit', edit_playlist_path(playlist) %>
					</button>
					<button>
					<%= link_to 'Destroy', playlist, method: :delete %>
					</button>
				<% end %>
			</article>
		<hr>			
		</section>			
		</li>
	<% end %>	
</ul>
