// 
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fbfbfb;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


* { box-sizing: border-box; }

body {
	background: $background-color;
	font-family: $base-font-family;
}

#container {
	width: $content-width;
	margin: 0 auto;
}

.school {
	padding: 25px;
	margin: 1.5% 0;
	background-color: #fff;
	box-shadow: 0 2px 10px rgba(0,0,0,.1);
}