<form id="add-todo" action="/todos" />
	<p>
		<label for="todo_text">Text</label>
		<input type="text" id="todo-text" />
	</p>
	<p>
		<label for="todo_notes">Notes</label>
		<textarea id="todo-notes" ></textarea>
	</p>
	<p>
		<input type="checkbox" id="todo-completed" value="1">
		<label for="todo-completed">Done?</label>
	</p>		
	<p>
		<input type="submit" value="Add Todo">
	</p>
</form>

<ul>
	<% @todos.each do |todo| %>
	<li>
		<%= link_to todo.text, todo_path(todo) %>
	</li>
	<% end %>		
</ul>

